<app-header></app-header>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-6 col-md-3 mb-2" *ngFor="let item of items">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.track.name}}</h5>
          <div class="mb-3">
            <a class="card-text mb-3" href="{{item.track.preview_url}}" target="_blank">
              Listen preview</a>
          </div>
          <button class="btn btn-primary" *ngIf="!isFavorite(item.track.id)" (click)="addToFavorites(item.track.id)">Add
            to favorites</button>
          <button class="btn btn-danger" *ngIf="isFavorite(item.track.id)" (click)="
            removeOfFavorites(item.track.id)">Delete of favorites</button>
        </div>
      </div>
    </div>
  </div>
</div>